<a href="https://colab.research.google.com/github/niteshkamboj2811/Python_Practice/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('First Print')

First Print

In [ ]:
text = 'First Print'

In [ ]:
text[0:2] + text[3:]

'Fist Print'

In [ ]:
fn, ln = 'Nitesh', 'Kamboj'

In [ ]:
print(f'First Name: {fn} \nLast Name:    {ln}')

First Name: Nitesh
Last Name:    Kamboj

In [ ]:
num, exp = 4, 3

In [ ]:
print(f'Number: {num} and {exp} is the power. \nThe result is {num ** exp}')

Number: 4 and 3 is the power.
The result is 64

In [ ]:
#caling function inside fstrin

text = 'NITESH KAMBOJ nitesh'

In [ ]:
print(f'lower function = {text.lower()} \n')
print(f'capitalize function = {text.capitalize()} \n')
print(f'first index = {text.index("N")} \n')
print(f'first index = {text.lower().find("a")} \n')
print(f'Alpha Numeric = {text.isalnum() } \n')
print(f'All Numeric = {text.isnumeric() } \n')
print(f'All Alphabets = {text.isalpha() } \n')

lower function = nitesh kamboj nitesh

capitalize function = Nitesh kamboj nitesh

first index = 0

first index = 8

Alpha Numeric = False

All Numeric = False

All Alphabets = False

In [ ]:
'123'.isidentifier()

False

In [ ]:
'123'.isprintable()

True

In [ ]:
'NI'.isupper()

True

In [ ]:
'123'.isnumeric()

True

In [ ]:
'123'.isalnum()

True

In [ ]:
'123'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
def test(s):
  for attr in ['isnumeric', 'isdigit', 'isalnum', 'isalpha', 'isidentifier']:
    print(attr, getattr(s, attr)()) #s.isnumberi() == s.attr()

In [ ]:
test('12')

isnumeric True
isdigit True
isalnum True
isalpha False
isidentifier False

In [ ]:
'nitesh'.capitalize() == 'nitesh'.title()

True

In [ ]:
'Strips this strips'.strip('s')

'Strips this strip'

In [ ]:
'Strips this strips'.rstrip('s')

'Strips this strip'

In [ ]:
'Strips this strips'.lstrip('S')

'trips this strips'

In [ ]:
[x.strip() for x in ['    removing','    extra whitespaces     ']]

['removing', 'extra whitespaces']

In [ ]:
myList = [1, 2]

In [ ]:
myList.append(3)

print(myList)

[1, 2, 3]

In [ ]:
myList.extend([4, 5])

print(myList)

[1, 2, 3, 4, 5]

In [ ]:
myList.insert(0, 0)

print(myList)

[0, 1, 2, 3, 4, 5]

In [ ]:
myList.remove(0)

print(myList)

[1, 2, 3, 4, 5]

In [ ]:
myList.pop() #removes the last item

print(myList)

[1, 2, 3, 4]

In [ ]:
myList.extend([4, 5, 3])

print(myList)

[1, 2, 3, 4, 4, 5, 3]

In [ ]:
myList.sort()

print(myList)

[1, 2, 3, 3, 4, 4, 5]

In [ ]:
unsorted_myList = [1, 2, 3, 4, 5, 4, 3]

In [ ]:
sorted(unsorted_myList)

[1, 2, 3, 3, 4, 4, 5]

In [ ]:
myList.sort()

print(myList)

[1, 2, 3, 3, 4, 4, 5]

In [ ]:
sorted(unsorted_myList) == myList #sorted([]) == [].sort()

True

In [ ]:
myTuple = (1, 2, 3, 4, 5)

In [ ]:
myDict = {"a": 1, "b": 2, "c": 3, "d": 4}

print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
del myDict['d']

print(myDict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
myDict['b'] == myDict.get('b')

True

In [ ]:
myDict.pop('a')

print(myDict)

{'b': 2, 'c': 3}

In [ ]:
poped_item = myDict.pop('b')

print(poped_item)

2

In [ ]:
myDict.popitem() #works like .pop() in lists/tuple

print(myDict)

{}

In [ ]:
myDict.setdefault('a', 1)

1

In [ ]:
myDict.setdefault('a', 100000)

1

In [ ]:
myDict.update({'b': 2, 'c': 4})

In [ ]:
myDict

{'a': 1, 'b': 2, 'c': 4}

In [ ]:
newList = list()

for i in range(0, 11):
  newList.append(i+2)

print(newList)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#priting even #s without calculation by using step function.
evenList = list()

for i in range(0, len(newList), 2):
  evenList.append(newList[i])

print(evenList)

[2, 4, 6, 8, 10, 12]

In [ ]:
%debug

ERROR:root:No traceback has been produced, nothing to debug.

In [ ]:
newList = ["a", "b", "c", "d"]

for i in range(2, len(newList)):
  newList[i] = newList[i] * i

newList

['a', 'b', 'cc', 'ddd']

In [ ]:
#printing reverse list

newList = list()

for i in range(0, 10):
  newList.append(i)

for i in range(len(newList), 5, -1):
  print(i)

10
9
8
7
6

In [ ]:
myDict = dict()

for i, v in enumerate(range(10), 1):
  myDict[i] = v+1

print(myDict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [ ]:
for key, val in myDict.items():
  print(f'Key is: {key} and Value is {val}')

Key is: 0 and Value is 1
Key is: 1 and Value is 2
Key is: 2 and Value is 3
Key is: 3 and Value is 4
Key is: 4 and Value is 5
Key is: 5 and Value is 6
Key is: 6 and Value is 7
Key is: 7 and Value is 8
Key is: 8 and Value is 9
Key is: 9 and Value is 10

In [ ]:
for pair in myDict.items():
  print(pair)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [ ]:
#printing only 'n' in word

nums = 12345

for num in str(nums):
  if int(num) % 3 == 0:
    print('ODD')
    continue
  print('Not ODD')

Not ODD
Not ODD
ODD
Not ODD
Not ODD

In [ ]:
nums = [1, 2, 3, 4, 5]

for num in nums:
  if num % 2 == 0:
    print(f'Even: {num}')
    break
  else:
    print(f'Odd: {num}')

Odd: 1
Even: 2

In [ ]:
nums = 12345

for num in str(nums):
  if int(num) % 3 == 0:
    print('ODD')
    break
  print('Not ODD')

Not ODD
Not ODD
ODD

In [ ]:
#zip() is an amazing built-in function that we can use in Python to iterate over multiple sequences at once, 
#getting their corresponding elements in each iteration.

In [ ]:
l1, l2 = [1, 2, 3], [4, 5, 6]

for v1, v2 in zip(l1, l2):
  print(v1, v2)

1 4
2 5
3 6

In [ ]:
nums = [1, 2, 3, 4, 5]

for num in nums:
  if num > 6:
    print('Found')
    break

print('Not found')

Not found

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

for num in nums:
  if num > 6:
    print('Found')
    break
else:
  print('Not found')

Found

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

for num in nums:
  if num > 6:
    print('Found')
    break
else:
  print('Not HERE')

Found

In [ ]:
x = 5

while x < 15:
  if x % 2 == 0:
    print(f'Even: {x}')
    break
  print(f'Odd: {x}')
  x+=1

Odd: 5
Even: 6

In [ ]:
#Nested Loops

for i in range(3):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
num_rows = 5

for i in range(5):
  for nums_cols in range(num_rows-i):
    print('*', end='')
  print()

*****
****
***
**
*

In [ ]:
#writing a function for creating the same pyramid

def print_pattern(num_rows, char):
  for i in range(num_rows):
    for col in range(num_rows-i):
      print(char, end='')
    print()

In [ ]:
print_pattern(3, 'a')

aaa
aa
a

In [ ]:
return_even([1, 3, 5])

False

In [ ]:
#Recursive ()

def factorial(n):
  if n not in (0, 1):
    return n * factorial(n-1)
  else:
    return 1

In [ ]:
factorial(4)

24

In [ ]:
def text(index):
  index = int(input("Enter the index: "))
  my_list = [1, 2, 3, 4]
  print(my_list[index])

text(4)

Enter the index: 4

IndexError: ignored

In [ ]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError as ie: # specify the type
    print("Please enter a valid index.", ie)

Enter the index: 4
Please enter a valid index. list index out of range

In [ ]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError as ie: # specify the type
    print("Please enter a valid index.", ie)
else:
  print("You used a valid index number")

Enter the index: 4
Please enter a valid index. list index out of range

In [ ]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError as ie: # specify the type
    print("Please enter a valid index.", ie)
else: #Will only run if 'TRY' executes
  print("You used a valid index number")

Enter the index: 3
4
You used a valid index number

In [ ]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError as ie: # specify the type
    print("Please enter a valid index.", ie)
else: #Will only run if 'TRY' executes
  print("You used a valid index number")
finally: #will run regardless
  print("End of the program")

Enter the index: 5
Please enter a valid index. list index out of range
End of the program

In [ ]:
class Dog:

  def __init__(self, name, age):
    self.name = name
    self.age = age

In [ ]:
my_dog = Dog('Kaju', 6) #Creating instance of Dog
my_dog

In [ ]:
my_dog.name, my_dog.age #Getting attributes (Name and Age are atributes of Class Dog)

('Kaju', 6)

In [ ]:
my_dog.name = 'Gujju' #Updating attribute

my_dog.name

'Gujju'

In [ ]:
del my_dog.name #Deleting the attribute from instane

In [ ]:
my_dog.age

6

In [ ]:
try:
  my_dog.name
except AttributeError as ae:
  print('name attribute is removed from Dog instance my_dog :', ae)

name attribute is removed from Dog instance my_dog : 'Dog' object has no attribute 'name'

In [ ]:
del my_dog #Deleting the instance

In [ ]:
try:
  my_dog
except NameError as ne:
  print('instance missing: ', ne)

instance missing:  name 'my_dog' is not defined

In [ ]:
class Dog:

  # Class attributes
  category = 'Animal'

  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.speed = 5
  
  def bark(self): #Defiing method of class dog
    print(f"My name is {self.name} Woof-Woof. I'm {self.age} years old.")

  def running(self, n):
    self.speed += n

In [ ]:
my_dog = Dog('Kaju', 7)

In [ ]:
my_dog.bark()

My name is Kaju Woof-Woof. I'm 7 years old.

In [ ]:
my_dog.running(5)

In [ ]:
my_dog.speed

10

In [ ]:
words = "This is my first write program"

word.split()

['program']

In [ ]:
#writing to file
with open('first_write_prog.txt', 'w') as file:
  for word in words.split():
    file.write(word + ' ')

In [ ]:
#Reading from file
with open('first_write_prog.txt', 'r') as fh:
  for line in fh:
    print(line)

This is my first write program

In [ ]:
#Appending the file
with open('first_append_prog.txt', 'a') as fh:
  for line in words.split():
    fh.write(line + "\n")

In [ ]:
#Deliting file
import os

if os.path.exists("first_append_prog.txt"):
  os.remove("first_append_prog.txt")
else:
  print("This file doesn't exist")

In [ ]:
[chr(i) for i in range(97, 123)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
list(map(chr, range(97, 123)))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
print([chr(i) for i in range(97, 123)], end=' ')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
[(index, val) for index in range(0, 2) for val in range(1, 3)]

[(0, 1), (0, 2), (1, 1), (1, 2)]

In [ ]:
for i in range(0, 2):
  for j in range(1, 3):
    print(i, j)

0 1
0 2
1 1
1 2

In [ ]:
[i + j for i in range(0, 3) for j in range(1, 4)]

[1, 2, 3, 2, 3, 4, 3, 4, 5]

In [ ]:
{index: index + val for index in range(0, 2) for val in range(1, 3)}

{0: 2, 1: 3}

In [ ]:
#pass students
grades = {"Nora": 78, "Gino": 100, "Talina": 56, "Elizabeth": 45, "Lulu": 67}

new = {}

for student, grade in grades.items():
  if grade > 60:
    new.update({student: grade})

print(new)

{'Nora': 78, 'Gino': 100, 'Lulu': 67}

In [ ]:
grades = {"Nora": 78, "Gino": 100, "Talina": 56, "Elizabeth": 45, "Lulu": 67}

{student: grade for student, grade in grades.items() if grade > 60}

{'Gino': 100, 'Lulu': 67, 'Nora': 78}

#Learnpythonorg https://www.learnpython.org

##Generators

In [ ]:
import random

def lottery():
  for i in range(6):
    yield random.randint(1, 40)

  yield random.randint(1, 15)

In [ ]:
for random_num in lottery():
  print(f'And the next number is... {random_num}')

And the next number is... 3
And the next number is... 15
And the next number is... 8
And the next number is... 19
And the next number is... 19
And the next number is... 24
And the next number is... 13

In [ ]:
for random_num in lottery():
  print('And the next number is... %d' %random_num)

And the next number is... 6
And the next number is... 31
And the next number is... 2
And the next number is... 35
And the next number is... 7
And the next number is... 28
And the next number is... 6

##Sets

In [49]:
home_friends = 'Vishal Arash Chintu Ikram'
colg_friends = 'Medha,Makhi,Ikram,Neha'

In [50]:
home_friends.split()

['Vishal', 'Arash', 'Chintu', 'Ikram']

In [51]:
colg_friends.split(',')

['Medha', 'Makhi', 'Ikram', 'Neha']

In [52]:
home = set(home_friends.split())
colg = set(colg_friends.split(','))

In [53]:
home

{'Arash', 'Chintu', 'Ikram', 'Vishal'}

In [54]:
colg

{'Ikram', 'Makhi', 'Medha', 'Neha'}

In [56]:
print(home.intersection(colg))

{'Ikram'}

In [57]:
print(home.symmetric_difference(colg))

{'Neha', 'Chintu', 'Medha', 'Arash', 'Makhi', 'Vishal'}

In [59]:
print(home.difference(colg))

{'Arash', 'Chintu', 'Vishal'}

In [60]:
print(home.union(colg))

{'Ikram', 'Chintu', 'Neha', 'Arash', 'Medha', 'Makhi', 'Vishal'}

##Partial Function

In [61]:
from functools import partial

In [62]:
def add(x, y):
  return x + y

In [66]:
new_par = partial(add, 3) #3 will replace x in add()

In [67]:
new_par(2)

5

In [68]:
def add3(x, y, z):
  return x + y + z

In [72]:
new_par_3 = partial(add3, 3, 2)

In [74]:
new_par_3(0)

5

In [76]:
#Following is the exercise, function provided:
from functools import partial
def func(u,v,w,x):
    return u*4 + v*3 + w*2 + x
#Enter your code here to create and print with your partial function
new_par = partial(func, 3, 4, 12)

print(new_par(12))

60

In [83]:
def print_msg(number):
    def printer():
        "Here we are using the nonlocal keyword"
        nonlocal number
        number=3
        print(number)
    printer()
    print(number)

print_msg(9)

3
3

In [90]:
lambda x, y: x ** y

In [91]:
raise_to(2, 3)

8

##Map, Reduece, Filter

In [92]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

upper_pets = set(map(str.upper, my_pets))

print(upper_pets)

{'ALFRED', 'ARLA', 'TABITHA', 'WILLIAM'}